<section>
  <article class="span10 offset1 group-list">
    <header>
<!-- create group START -->
      <aside id="create-group-form">
        <form method="POST" action="/groups">
          <input type="text" name="add_group" placeholder="choose a group name" />
          <!-- span id="create-button" class="btn btn-primary">Create</span -->
        </form>
      </aside>
      <span id="create-group-button" class="btn btn-primary">Create a group</span>
<!-- create group END -->
    </header>

      <h2>Your groups</h2>

      <ul class="">
        <% groups.each do |group| %>
  		    <li class="group-holder">
            <a href="/groups/<%= group.url %>"><%= group.group_name %></a>
            <span id="like_<%=group._id%>" class="btn btn-success like">LIKE</span>
            <input type='hidden' name='group_id' value='<%=group._id%>'>
            <a href="#myModal" role="button" data-toggle="modal" data-group-id='<%= group._id%>' data-group-name='<%= group.group_name%>' class="btn btn-danger" id='groupId'>Delete</a>
  		    </li>
        <% end %>
        <a class="btn btn-primary" href="/group/create">Add another group</a>
      </ul>

  </article>
</section>


<!-- my modal delete box id='delete-group-button'-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>

  <div class="modal-body">
    <p>Please confirm if you want to delete this group - all posts in this group will be deleted</p>
  </div>

  <div class="modal-footer">

    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <form id="myDeleteForm" method='POST' action='test'>
    <button class="btn btn-danger">Delete Group</button>
    </form>
  </div>
</div>
<!-- my modal delete box  -->

  <script>
  $('#delete-group-button').bind('click', function(){
    confirm('Are you sure you want to delete the group - the group contains posts')
  })
  $(document).on('click', '#groupId', function() {
    var groupId = $(this).data('group-id');
    var groupName = $(this).data('group-name');
    $('#myModalLabel').html("You are about to delete the group: " + groupName);
    $('#myDeleteForm').attr("action",'groups/' + groupName + '/delete_confirmed');
    });
  </script>

  <script>
  $('#create-button').on('click'), function() {
        $post('/groups', {'add_group'})
      }
  </script>

  <script type="text/javascript" src="/js/matts.js"></script>
